project:
  type: website
  output-dir: docs

website:
  title: "BM432 project resources"
  navbar:
    background: primary
    left:
      - href: index.qmd
        text: Home
    tools:
      - icon: twitter
        href: https://twitter.com/Mostlymicrobia
      - icon: github
        href: https://github.com/mafeeney
      - icon: envelope
        href: morgan.feeney@strath.ac.uk
          
  sidebar:
    style: "docked"
    border: true
    foreground: primary 
    search: true
    contents:
      - section: "Getting Started"
        contents:
          - expectations.qmd
          - management.qmd
          - schedule.qmd
      - section: "Experimental Work"
        contents:
          - bioinformatics.qmd
          - twine.qmd
          - RStudio.qmd
      - section: "General Thesis Writing"
        contents:
          - writingtips.qmd
          - WritingExercises-overview.qmd
          - AI.qmd
      - section: "Guidance on Specific Thesis Sections"
        contents:
          - figures.qmd
          - methods.qmd
      - section: "Presentations"
        contents:
          - slides.qmd


format:
  html:
    theme: pulse
    css: styles.css
    toc: true

